
    <p-contextMenu #cm [model]="menuItems"></p-contextMenu>
    <p-table [value]="processes()" [scrollable]="true" scrollHeight="100%" size="small">
        <ng-template #header>
            <tr>
                <th class="w-full">Process</th>
                <th class="w-auto">Machine</th>
                <th class="w-auto">User</th>
            </tr>
        </ng-template>
        <ng-template #body let-process let-ri="rowIndex">
            <tr [routerLink]="process.id" routerLinkActive="selected-process" class="cursor-pointer " [class.online-process]="process.state == 'Online'"
                (contextmenu)="onContextMenu($event, process, cm)"
                pTooltip="Sending: {{process.isSending}} last online: {{process.lastOnline | dateDiff}}">
                <td class="text-nowrap">{{ process.name }}</td>
                <td class="text-nowrap">{{ process.machineName }}</td>
                <td class="text-nowrap">{{ process.userName }}</td>
            </tr>
        </ng-template>
    </p-table>
