<table class="h-full flex flex-col items-stretch bg-neutral-900 text-neutral-300 resize-none">
  <tr class="grid h-full v-full flex flex-col items-stretch">
    <mat-expansion-panel class="no-padding grid h-full v-full flex flex-col items-stretch" *ngIf="region?.hasChildren()">
      <mat-expansion-panel-header class="no-padding" style="font-size: 14px;">
        {{region?.firstLine}}
      </mat-expansion-panel-header>

      <table [class]="getClass()" style="width: 100%">
        <tr class="grid h-full v-full flex flex-col items-stretch" *ngIf="region?.displayText">
          <mat-card-content [innerText]="region?.displayText"></mat-card-content>
        </tr>
        <tr class="grid h-full v-full flex flex-col items-stretch">
          <div class="w-full" *ngFor="let childBlock of region?.childRegions">
            <app-collapsible-region [region]="childBlock"></app-collapsible-region>
          </div>
        </tr>
      </table>
    </mat-expansion-panel>
  </tr>
  <tr class="grid h-full v-full flex flex-col items-stretch" *ngIf="!region?.hasChildren()">
    <mat-card-content [innerText]="region?.getDisplayText()"></mat-card-content>
  </tr>
</table>
