<div class="h-full w-full overflow-hidden flex flex-col retro-nav">
  <div class="flex flex-col gap-4 px-2 pt-2 pb-4 border-b border-[var(--border)]">

    <p-iconfield class="w-full">
      <input pInputText type="text" class="w-full text-sm" placeholder="Filter"
             [(ngModel)]="model.processSearch"
             (keydown)="model.handleKeyDown($event)">
      @if (model.processSearch) {
        <p-inputicon class="pi pi-times cursor-pointer filter-clear"
                     (click)="model.processSearch=''" />
      }
    </p-iconfield>

    <div class="flex items-center">
      <p-checkbox [(ngModel)]="model.onlineOnly" [binary]="true" inputId="onlineOnly" size="small" />
      <label for="onlineOnly" class="text-sm opacity-50 ml-3 cursor-pointer">Online only</label>
    </div>
  </div>

  <div class="flex-1 min-h-0 overflow-auto w-full">
    <p-table [value]="model.filteredProcesses"
             [contextMenu]="cm"
             [(contextMenuSelection)]="selectedProcess"
             [resizableColumns]="true"
             columnResizeMode="fit"
             size="small" styleClass="w-full"
             [tableStyle]="{ 'width': '100%', 'table-layout': 'fixed' }"
             stateKey="diag-process-table" stateStorage="local">
      <ng-template #header>
        <tr>
          <th pResizableColumn class="pl-2">Process</th>
          <th pResizableColumn class="pl-2">Host</th>
          <th pResizableColumn class="pl-2">User</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr class="cursor-pointer"
            [pContextMenuRow]="item"
            (click)="model.selectProcess(item)"
            [class.online]="getProcess(item).state === 'Online'"
            [class.active]="item === model.activeProcess">
          <td class="pl-2">
            <span class="truncate" [title]="item.processName">{{ item.processName }}</span>
          </td>
          <td class="pl-2" [title]="item.machineName">{{ item.machineName }}</td>
          <td class="pl-2" [title]="item.userName">{{ item.userName }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-contextMenu #cm [model]="contextMenuItems" />
