

<div class="h-full w-full overflow-hidden flex flex-col retro-nav">
  <div class="grid text-xxs">

    <mat-form-field class="text-xs px-2" appearance="fill" color="warn" (keydown)="model.handleKeyDown($event)">
      <mat-label>Filter</mat-label>
      <input matInput type="text" [(ngModel)]="model.processSearch">
      <button *ngIf="model.processSearch" matSuffix mat-icon-button aria-label="Clear"
              class="text-xs"
              (click)="model.processSearch=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="flex-grow-0 overflow-auto w-full grid">
    <table mat-table [dataSource]="model.filteredProcesses" class="w-full">

      <ng-container matColumnDef="machineName">
        <th mat-header-cell class="pl-2" *matHeaderCellDef>Host</th>
        <td mat-cell class="pl-2" *matCellDef="let item">{{item.machineName}}</td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell class="pl-2" *matHeaderCellDef>User</th>
        <td mat-cell class="pl-2" *matCellDef="let item">{{item.userName}}</td>
      </ng-container>

      <ng-container matColumnDef="processName">
        <th mat-header-cell class="pl-2" *matHeaderCellDef>Process</th>
        <td mat-cell class="pl-2 pr-0" *matCellDef="let item">
          <div class="grid grid-cols-1fr-auto w-full">
            <span class="">{{item.processName}}</span>
            <span class="ml-1 mr-0 w-4 alert-pill {{item.labelClass}}"></span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true" class="h-8"></tr>
      <tr mat-row *matRowDef="let item; columns: columnNames" (click)="model.selectProcess(item)"
          class="cursor-pointer h-8"
          (contextmenu)="onContextMenu($event, item)"
          [class.text-neutral-200]="getProcess(item).state !== 'Online'"
          [class.text-lime-600]="getProcess(item).state === 'Online'"
          [class.bg-black]="item === model.activeProcess"></tr>
    </table>
  </div>
</div>

<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu" class="bg-neutral-800">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="app.showRetro(item)">Retro</button>
    <button mat-menu-item (click)="model.deleteProcess(item)">Delete</button>
 </ng-template>
</mat-menu>

