<div class="h-full w-full overflow-hidden flex flex-col retro-nav">
  <div class="grid grid-cols-1fr-auto text-xxs items-center">

    <p-iconfield class="px-2">
      <input pInputText type="text" class="w-full text-xs" placeholder="Filter"
             [(ngModel)]="model.processSearch"
             (keydown)="model.handleKeyDown($event)">
      @if (model.processSearch) {
        <p-inputicon class="pi pi-times cursor-pointer filter-clear"
                     (click)="model.processSearch=''" />
      }
    </p-iconfield>

    <div class="flex items-center mr-4">
      <p-checkbox [(ngModel)]="model.onlineOnly" [binary]="true" inputId="onlineOnly" size="small" />
      <label for="onlineOnly" class="text-xs opacity-50 ml-1 cursor-pointer">Online</label>
    </div>
  </div>

  <div class="flex-grow-0 overflow-auto w-full grid">
    <p-table [value]="model.filteredProcesses"
             [contextMenu]="cm"
             [(contextMenuSelection)]="selectedProcess"
             [resizableColumns]="true"
             columnResizeMode="expand"
             size="small" styleClass="w-full"
             stateKey="diag-process-table" stateStorage="local">
      <ng-template #header>
        <tr>
          <th pResizableColumn class="pl-2">Process</th>
          <th pResizableColumn class="pl-2">Host</th>
          <th pResizableColumn class="pl-2">User</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr class="cursor-pointer"
            [pContextMenuRow]="item"
            (click)="model.selectProcess(item)"
            [class.online]="getProcess(item).state === 'Online'"
            [class.active]="item === model.activeProcess">
          <td class="pl-2 pr-0">
            <div class="grid grid-cols-1fr-auto w-full items-center">
              <span class="truncate" [title]="item.processName">{{ item.processName }}</span>
              <span class="ml-1 mr-0 w-4 alert-pill {{item.labelClass}}"></span>
            </div>
          </td>
          <td class="pl-2" [title]="item.machineName">{{ item.machineName }}</td>
          <td class="pl-2" [title]="item.userName">{{ item.userName }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-contextMenu #cm [model]="contextMenuItems" />
