<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="FixPortal" value="https://nuget.pkg.github.com/FixPortal/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <FixPortal>
      <add key="Username" value="github" />
      <add key="ClearTextPassword" value="%GITHUB_PACKAGES_TOKEN%" />
    </FixPortal>
  </packageSourceCredentials>
</configuration>
