<div class="h-full w-full grid grid-rows-auto-1fr">
  <div class="h-12">
    <mat-toolbar class="flex-grow-0 w-full h-12 bg-neutral-800 grid grid-cols-1 grid-rows-1 w-full">
      <label class="mat-primary col-start-1 row-start-1 justify-self-start">Diagnostic Explorer</label>
      <button [disabled]="!appModel.mainMessageCanClick"
        (click)="appModel.mainMessageClick()"
              class="{{appModel.mainMessageClass}} col-start-1 row-start-1 justify-self-center">{{appModel.mainMessage}}</button>

      <span class="text-xs col-start-1 row-start-1 justify-self-end">{{appModel.titleMessage}}</span>

    </mat-toolbar>
  </div>

  <div class="w-full h-full overflow-hidden">
  <as-split direction="horizontal" >
    <as-split-area [size]="25" [minSize]="10" [maxSize]="50">
    <div class="w-full border-r-2 border-black grid grid-rows-auto-1fr h-full overflow-hidden">

        <div class="flex-grow-0 grid grid-cols-2">
          <button mat-raised-button [class.mat-accent]="appModel.tabIndex === 0" class="focus:outline-none" (click)="appModel.viewRealtime()" tabindex="-1">Realtime</button>
          <button mat-raised-button [class.mat-accent]="appModel.tabIndex === 1" class="ml-1 focus:outline-none" (click)="appModel.viewRetro()" tabindex="-1">Retro</button>
        </div>

        <div class="flex-grow-1 h-full w-full overflow-hidden">
          <app-realtime-nav [class.hidden]="appModel.tabIndex != 0"></app-realtime-nav>
          <app-retro-nav  [class.hidden]="appModel.tabIndex != 1"></app-retro-nav>
        </div>
          </div>
    </as-split-area>

    <as-split-area [size]="75">

    <div class="overflow-hidden h-full w-full">
      <app-realtime-display [class.hidden]="appModel.tabIndex != 0" class="start-row-1 start-col-1"></app-realtime-display>
      <app-retro-display [class.hidden]="appModel.tabIndex != 1" class="start-row-1 start-col-1"></app-retro-display>
    </div>
    </as-split-area>
  </as-split>
  </div>
</div>
