@if (category) {
  <div class="w-80 realtime-category">
    @for (sub of category.subCats; track sub) {
      <p-panel [toggleable]="true" toggler="header"
               [collapsed]="!sub.isExpanded"
               (collapsedChange)="sub.isExpanded = !$event"
               styleClass="m-2 sub-panel">
        <ng-template #header>
          <div class="w-full" (dblclick)="sub.handleDoubleClick($event)">
            {{ sub.name ?? 'General' }}
            @if (sub.operationSet) {
              <button (click)="showOperationsDialog($event, sub)">
                <i class="pi pi-cog text-xs text-yellow-500"></i>
              </button>
            }
          </div>
        </ng-template>
        @for (propGroup of sub.groups; track propGroup) {
          <fieldset class="mb-2">
            <legend>{{ propGroup.name ?? 'General' }}</legend>
            <div class="ml-4 grid grid-cols-props-sm lg:grid-cols-props-xl gap-x-2 gap-y-2 items-center">
              @for (prop of propGroup.properties; track prop) {
                @if (!prop.canSet) {
                  <span class="text-stone-400 text-xs">{{ prop.name }}</span>
                }
                @if (prop.canSet) {
                  <button class="text-blue-500 text-xs text-left"
                    (click)="showSetPropertyDialog(prop)">{{ prop.name }}
                  </button>
                }
                <span class="prop-value" (dblclick)="handleDoubleClick(prop, $event)"
                  [pTooltip]="prop.value" [showDelay]="0" tooltipPosition="bottom"
                  tooltipStyleClass="tooltips">{{ prop.value }}</span>
              }
            </div>
          </fieldset>
        }
      </p-panel>
    }
    @for (evt of category.eventSinks; track evt) {
      <p-panel [toggleable]="true" toggler="header"
               [collapsed]="!evt.isExpanded"
               (collapsedChange)="evt.isExpanded = !$event"
               styleClass="m-2 sub-panel">
        <ng-template #header>
          <div class="w-full grid" (dblclick)="evt.handleDoubleClick($event)">
            <span class="col-start-1 row-start-1 justify-self-start whitespace-nowrap">{{ evt.name }}</span>
            <span class="col-start-1 row-start-1 justify-self-center self-center text-xs opacity-50 h-4 flex-grow-0 whitespace-nowrap">{{ evt?.message }}</span>
            <div class="col-start-1 row-start-1 justify-self-end self-center h-full text-xs flex items-center"
              (click)="handleClick($event)" (keydown)="$event.stopPropagation()"
              (dblclick)="handleClick($event)">
              <app-event-filter [(filterVisible)]="evt.filterVisible"
              [(criteria)]="evt.filterCriteria"></app-event-filter>
            </div>
          </div>
        </ng-template>
        <app-realtime-events [sink]="evt"></app-realtime-events>
      </p-panel>
    }
  </div>
}
