

::ng-deep .realtime-category .mat-expansion-panel-body
{
  padding: 0.5em !important;
}

::ng-deep .realtime-category .mat-expansion-panel-header
{
  padding-left: 1em !important;
  padding-right: 0 !important;
  display: grid !important;
}

::ng-deep .realtime-category .mat-expansion-panel-header-title
{
  display: grid !important;
  margin-right: 0 !important;
}

::ng-deep .realtime-category .mat-expansion-panel-header > span:first-child
{
  display: grid !important;
}

::ng-deep .realtime-category .mat-panel-title
{
  display: grid !important;
}

::ng-deep .realtime-category .mat-expansion-indicator
{
  display: none !important;
}


::ng-deep .realtime-category .mat-tab-group
{
  overflow: hidden !important;
}

::ng-deep .realtime-category .mat-expansion-panel-header-description
{
  align-items: center !important;
}

::ng-deep .realtime-category .mat-tab-body-content
{
  overflow: auto;
}

.prop-value
{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  @apply text-lime-500;
}
