<div class="mt-0 flex flex-row h-4">
  <ng-container *ngIf="filterVisible">
    <mat-checkbox class="mr-1 check-info" [checked]="info" (change)="info = $event.checked"></mat-checkbox>
    <mat-checkbox class="mr-1 check-notice" [checked]="notice" (change)="notice = $event.checked"></mat-checkbox>
    <mat-checkbox class="mr-1 check-warn" [checked]="warn" (change)="warn = $event.checked"></mat-checkbox>
    <mat-checkbox class="mr-1 check-error" [checked]="error" (change)="error = $event.checked"></mat-checkbox>
    <input matInput type="text" placeholder="filter text" class="bg-neutral-600 h-4 text-xs m-0"  [(ngModel)]="searchText" >
  </ng-container>
  <button class="text-xs" (click)="filterVisible = !filterVisible">
    <mat-icon class="w-4 h-4 pr-6 text-xs">{{filterVisible ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon>
  </button>
  </div>
