<div class="mt-0 flex flex-row h-4 items-center">
  @if (filterVisible) {
    <p-checkbox class="mr-1 check-info" [binary]="true" [(ngModel)]="info" size="small" />
    <p-checkbox class="mr-1 check-notice" [binary]="true" [(ngModel)]="notice" size="small" />
    <p-checkbox class="mr-1 check-warn" [binary]="true" [(ngModel)]="warn" size="small" />
    <p-checkbox class="mr-1 check-error" [binary]="true" [(ngModel)]="error" size="small" />
    <input pInputText type="text" placeholder="filter text" class="bg-neutral-600 h-4 text-xs m-0"
           [(ngModel)]="searchText">
  }
  <button class="text-xs" (click)="filterVisible = !filterVisible">
    <i class="pi text-xs" [class.pi-angle-right]="filterVisible" [class.pi-angle-left]="!filterVisible"></i>
  </button>
</div>
