<div class="h-full flex flex-col items-stretch">
  <as-split direction="vertical">
    <as-split-area [size]="75" [minSize]="10" [maxSize]="90">

      <mat-tab-group class="vertical flex-grow" [(selectedIndex)]="model.selectedIndex"
                     (selectedIndexChange)="model.handleSelectedTabChanged($event)">
        <mat-tab *ngFor="let cat of model.categories" mat-align-tabs="left">
          <ng-template mat-tab-label>
            <div class="grid grid-cols-auto-1fr w-full">
              <div class="alert-pill ml-1 mr-2 w-4 {{cat.labelClass}}"></div>
              <span class="text-right">{{cat.name}}</span>
            </div>
          </ng-template>
          <app-realtime-category [category]="cat"></app-realtime-category>
        </mat-tab>
      </mat-tab-group>

    </as-split-area>

    <as-split-area [size]="25" *ngIf="model.traceScopeVisible">

      <div class="grid h-full detail-tabs">

        <mat-tab-group class="col-start-1 row-start-1 scope-tabs">
          <mat-tab label="Detail">
            <div class="w-full" *ngFor="let region of model.selectedEvent?.regions">
                 <app-collapsible-region [region]="region"></app-collapsible-region>
            </div>
          </mat-tab>

          <mat-tab label="Trace Scope">
           <textarea class="bg-neutral-900 text-neutral-300 resize-none"
                     [contentEditable]="false"
                     textContent="{{model.selectedEvent?.displayText}}">
           </textarea>
          </mat-tab>
        </mat-tab-group>

        <button (click)="model.hideTraceScope()"
                class="col-start-1 row-start-1 align-self-start justify-self-end cursor-pointer z-50 opacity-50 hover:opacity-100"
                mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>

      </div>
    </as-split-area>
  </as-split>
</div>
