::ng-deep .retro-display .mat-mdc-row,
::ng-deep .retro-display .mat-row {
  height: 20px !important;
  min-height: 20px;
}

::ng-deep .retro-display .mat-mdc-table,
::ng-deep .retro-display .mat-table {
  overflow: auto !important;
}


::ng-deep .retro-display .mat-mdc-header-row,
::ng-deep .retro-display .mat-header-row {
  height: 30px !important;
  min-height: 30px;
}

::ng-deep .retro-display .mat-expansion-panel-content {
  height: 100% !important;
  padding: 0 !important;
  margin-bottom: 100px !important;
}

::ng-deep .retro-display .mat-expansion-panel-header > span:first-child {
  display: grid !important;
}

::ng-deep .retro-display .mat-expansion-panel-header-title {
  display: grid !important;
  margin-right: 0 !important;
}

::ng-deep .retro-display .mat-expansion-panel-body {
  padding: 0 !important;
  height: calc(100% - 22.5px) !important;
  overflow: hidden !important;
  margin: 0 !important;
}

::ng-deep .retro-display .mat-expansion-panel-header {
  padding-left: 1em !important;
  padding-right: 0 !important;
}

::ng-deep .mat-expansion-panel-header-description {
  align-items: center !important;
}

::ng-deep .retro-display .mat-expansion-indicator {
  display: none;
}

::ng-deep .detail-tabs .mat-mdc-tab-body-content,
::ng-deep .detail-tabs .mat-tab-body-content {
  height: 100% !important;
  display: grid !important;
  padding: 0 !important;
}

::ng-deep .detail-tabs .mat-mdc-tab-body-wrapper,
::ng-deep .detail-tabs .mat-tab-body-wrapper {
  height: 100% !important;
  display: grid !important;
}


.mat-mdc-column-date,
.mat-column-date {
  white-space: nowrap;
  flex: 0 0 175px;
  margin-right: 10px;
}

.mat-mdc-column-level,
.mat-column-level {
  white-space: nowrap;
  flex: 0 0 100px;
}

.mat-mdc-column-machine,
.mat-column-machine {
  white-space: nowrap;
  flex: 0 0 120px;
  margin-right: 10px;
}

.mat-mdc-column-user,
.mat-column-user {
  white-space: nowrap;
  flex: 0 0 80px;
  margin-right: 10px;
}

.mat-mdc-column-process,
.mat-column-process {
  flex: 0 0 150px;
}

.mat-mdc-column-process span,
.mat-column-process span {
  white-space: nowrap;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-mdc-column-message,
.mat-column-message {
  flex: 1 1 100px;
}


.mat-mdc-column-message span,
.mat-column-message span {
  white-space: nowrap;
  //min-width: 100px;
  //margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

