<span class="property-hover-trigger" (mouseenter)="show($event.currentTarget)" (mouseleave)="scheduleHide()" (focusin)="show($event.currentTarget)" (focusout)="scheduleHide()">
    <ng-content />
</span>

<ng-template #tooltipContent>
    <section class="property-hover-tooltip" role="tooltip">
        @if (loading()) {
            <div class="property-hover-status">Loading...</div>
        } @else if (errorMessage()) {
            <div class="property-hover-error">{{ errorMessage() }}</div>
        } @else if (isJsonHover()) {
            <pre>@for (token of jsonTokens(); track $index) {<span [class]="token.type">{{ token.text }}</span>}</pre>
        } @else {
            @for (category of processModel.categories(); track category.name()) {
                <app-category-view [category]="category" [process]="process()" [flatRoot]="true" [maxPropertyColumns]="2" [breadcrumbs]="[prop().name()]" (sectionToggled)="repositionTooltipAfterRender()" />
            }
        }
    </section>
</ng-template>
