<mat-dialog-content class="mat-typography ">
<div class="p-0 grid grid-rows-auto-1fr ">
  <mat-toolbar class="h-10 overflow-none">
    <span>Execute Operation: </span>
    <span class="flex-grow"></span>
    <mat-icon class="text-sm m-0 p-0 cursor-pointer" (click)="model.closeClick()">close</mat-icon>
  </mat-toolbar>

  <div class="content m-2 ">
    <fieldset>
      <legend>Operation</legend>
      <div class="container-operation flex flex-col items-start">
        <ng-container *ngFor="let op of model.operations">
        <div class="grid mr-4 justify-items-start ">
          <span class="active-operation noselect invisible col-start-1 row-start-1">{{op.name}}</span>
           <button class="col-start-1 row-start-1" [class.active-operation]="op === model.activeOperation"
                  (mouseover)="model.handleMouseOver($event, op);"
                  (click)="model.selectOperation(op)" >{{op.name}}</button>
        </div>
        </ng-container>
      </div>
    </fieldset>

    <fieldset>
      <legend>Arguments</legend>
      <div class="container-parameters">
      <div class="grid grid-cols-auto-1fr gap-y-2 gap-x-4" *ngIf="model.activeOperation">
        <p *ngIf="model.activeOperation?.parameters?.length === 0" class="col-span-2">No arguments</p>
        <ng-container *ngFor="let param of model.activeOperation.parameters">
          <label class="mr-4">{{param.name}}</label>
          <input matInput type="text" class="w-20 bg-neutral-700 w-full" [(ngModel)]="param.value">
        </ng-container>
      </div>
      </div>

    </fieldset>

    <div class="col-span-2 place-self-end ">
      <button mat-raised-button type="flat" [disabled]="model.executing"
              (click)="model.execute()">{{model.executing ? 'Executing' : 'Execute'}}</button>
    </div>

    <fieldset class="col-span-2">
      <legend>
          <span>Results</span>
          <span *ngIf="model.executeDate"> at {{model.executeDate | date:'HH:mm:ss'}}</span>
          <button *ngIf="model.executeDate" (click)="model.copyToClipboard()" matTooltip="Copy to clipboard" matTooltipClass="tooltips"><mat-icon class="text-xs">content_copy</mat-icon></button>
      </legend>
      <div class="w-inherit h-full">
        <pre class="">{{model.results}}</pre>
      </div>
    </fieldset>
  </div>
</div>
</mat-dialog-content>
